# This file contains common pin mappings for the BIGTREETECH Manta M8P
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# See docs/Config_Reference.md for a description of parameters.


# -------------------------------------------
# voronica configuration notes
# -------------------------------------------
# 
# stepper drivers: tmc2226 (klipper equiv. tmc2209)
# 
# X/Y rotational distance:
#   - Setting to '40' only moved 1/2 the distance expected
#     - moving (x, y) from (350, 350) to (175,175) but the toolhead half the distance between XY Home and the bed center
#     - Moving to center would be (0,0)
#   - Setting to '20' seemed to fix this 1/2 distance movement
#     - moving (x, y) from (350, 350) to (175,175) put the toolhead in the middle of the bed
#   - SOLUTION: Setting the `full_steps_per_rotation: 400` fixed it
#   - Specs and Variables:
#     - Core XY
#     - 0.9 deg pitch Stepper
#     - full_steps_per_rotation: 400
#     - Belt pitch: 2mm
#     - pully(s): (2 x 20 toothed pully) * 2 mm belt tooth pitch -> 40 mm per rotation
#       - 2 x 20 toothed pulley => 20:1 ratio (b/c the pulleys are the same size)
#     - microsteps: 32
#     - steps_per_mm: 2560  --> ((400 step/rot.) * 256 um steps/step) / (40 mm/rot) => (102400 steps/rot) / (40 mm/rot) => 102400/40 steps/mm
#     - rotation_distance: 40 --> (102400 steps/rot) / (2560 steps/mm) => (102400/2560 rot/mm)
# Z-axis rotational distance:
#  - 1.8 deg pitch stepper
#  - Full_steps_per_rotation: 200
#  - Belt pitch: 2mm
#  - Pulley gear ratio (R = N2/N1, where N1 is the input gear): 16:1, 80:16, 20:80
#    - Reduction: 16:1, 5:1, 1:4
#    - computation (includes belt pitch): (2 * 16 * 5 * .25) = 40
#  - microsteps: 32
#  - steps_per_mm: 1280  --> ((200 step/rot.) * 256 um steps/step) / (40 mm/rot) => (51200 steps/rot) / (40 mm/rot) => 51200/40 steps/mm
#  - rotation_distance: 40 --> (51200 steps/rot) / (1280 steps/mm) => (51200/1280 rot/mm)
#
# TODO: See TODOs in this config
# TODO: Add bed_mesh section
# 
# -------------------------------------------
# END voronica notes
# -------------------------------------------
[mcu]
##	[X in MOTOR0] - B Motor
##	[Y in MOTOR1] - A Motor
##	[E in MOTOR6] - Extruder
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3500330011504B4633373520-if00
#restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 500           # was 300, updated to 500; changed to 375; TODO: Tweak me; Set to 700? 
#max_accel: 3900     		#Max 4000. Was 3000, changed to 3900 using input-shaper "MZV" test; TODO: Tweak me
max_accel: 3800     		#Max 4000. Was 3000, changed to 3900 using input-shaper "MZV" test; Tweak me: Reduced by -100
#minimum_cruise_ratio: 0.5
#   Most moves will accelerate to a cruising speed, travel at that cruising speed, and then decelerate. However, some moves that
#   travel a short distance could nominally accelerate and then immediately decelerate. This option reduces the top speed of these
#   moves to ensure there is always a minimum distance traveled at a cruising speed. That is, it enforces a minimum distance traveled
#   at cruising speed relative to the total distance traveled. It is intended to reduce the top speed of short zigzag moves (and thus
#   reduce printer vibration from these moves). For example, a minimum_cruise_ratio of 0.5 would ensure that a standalone 1.5mm
#   move would have a minimum cruising distance of 0.75mm. Specify a ratio of 0.0 to disable this feature (there would be no minimum
#   cruising distance enforced between acceleration and deceleration). The value specified here may be changed at runtime using the
#   SET_VELOCITY_LIMIT command. The default is 0.5.
max_z_velocity: 30 			#Max 15 for 12V TMC Drivers, can increase for 24V; change to 30
max_z_accel: 350
square_corner_velocity: 5.0 # TODO: Tweak me; Set to 8.0?

[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor SoC]
sensor_type: temperature_host

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor)
[stepper_x]
step_pin: PE2
dir_pin: PB4
enable_pin: !PC11
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 400
endstop_pin: ^PF3
position_min: 0
# for 350mm build (TODO: Verify position w.r.t. mods)
position_endstop: 350
position_max: 350
#-----------------------------
homing_speed: 25   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Y Stepper driver (actual. TMC2226 UART Mode)
[tmc2209 stepper_x]
uart_pin: PC10
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PF12
dir_pin: PF11
enable_pin: !PB3
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 400
endstop_pin: ^PF4
position_min: -5
# for 350mm build (TODO: Verify a w.r.t. mods)
position_endstop: 350
position_max: 350
#-----------------------------
homing_speed: 25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Y Stepper driver (actual. TMC2226 UART Mode)
[tmc2209 stepper_y]
uart_pin: PF13
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR4
[stepper_z]
step_pin: PD3
dir_pin: PD2
enable_pin: !PD5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
# TODO: Configure endstop_pin for Voron Tap
#endstop_pin: ^PF5
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
endstop_pin: probe:z_virtual_endstop
#-----------------------------

# for 350mm build (TODO: Verify position w.r.t. mods)
position_max: 340        # Original: before adding LED bars
#position_max: 290         # TODO: Relocate LED light strips and then change accordings. The gantry cable chain and wire harness hit the LED strip.
#-----------------------------
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PD4
interpolate: False
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 999999

##	Z1 Stepper - Rear Left on Motor5
[stepper_z1]
step_pin: PC9
dir_pin: !PC8
enable_pin: !PD1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PD0
interpolate: False
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 999999

##	Z2 Stepper - Rear Right on Motor6
[stepper_z2]
step_pin: PA10
dir_pin: PD15
enable_pin: !PA15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF8
interpolate: False
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 999999

##	Z3 Stepper - Front Right on Motor7
[stepper_z3]
step_pin: PD12
dir_pin: !PD11
enable_pin: !PD14
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PD13
interpolate: False
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 999999

#####################################################################
# 	Extruder
#####################################################################

##  E0 on Motor3A
##  Toolhead: 
##    - StealthBurner CW2
##    - Phateus Rapido UHF hotend w/ PT1000 hotend
##    - NEMA14 36mm pancake motor: LDO-36STH20-1004AHG(XH)
[extruder]
step_pin: PD7
dir_pin: PD6
enable_pin: !PF10
##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.76880227	#Bondtech 5mm Drive Gears
##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
gear_ratio: 50:10        # Old motor = 50:17				#BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PE3
control: pid
pid_Kp: 22.796
pid_Ki: 2.171
pid_Kd: 59.840
# TODO: Get the actual pull-up resistor's reading
pullup_resistor: 2200
sensor_type: PT1000
sensor_pin: PA1
min_temp: 10
max_temp: 300           # TODO: Increase to 300C but with caution. 270C is too conservative. Is 290 too high?
max_power: 1.0
min_extrude_temp: 170
##	Try to keep pressure_advance below 1.0
pressure_advance: 0.0626
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040
## For e-step calibration
max_extrude_only_distance: 111

##	E0 on Motor3A
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: PF9
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[filament_motion_sensor SFS_T0]
detection_length: 10.00 # This can be adjusted to your desired level of sensitivity. 10 is a recomended value to prevent flow dropoff false triggers.
extruder: extruder
switch_pin: PC5
pause_on_runout: True # This can be set to false to debug false positives putting the sensor in "monitor mode". The printer will not pause but it will run the runout_gcode below. 
#event_delay: 3.0
#pause_delay: 0.5
runout_gcode:
    #LCDRGB R=1 G=0 B=0  ; Turn LCD red
    M117 Runout Detected!
    PAUSE                ; Pause
    SET_LOGO_LEDS_BY_NAME COLOR="YELLOW"  # Turn logo LEDs yellow
    BEEP I=12           ; Beep 12 times
    GET_POSITION
#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - BED_OUT
heater_pin: PB5
# "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA0
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.9
min_temp: 0
max_temp: 120
control: pid
pid_Kp: 54.443
pid_Ki: 1.359
pid_Kd: 545.109

#####################################################################
# 	Probe
#####################################################################

[probe]
##	Voron-Tap
##  See https://github.com/VoronDesign/Voron-Tap/blob/main/config/tap_klipper_instructions.md
##	The nozzle is the Probe!
##  NOTE: Re-calibrate the probe anytime the toolhead is removed!!!
# TODO: Manually calibrate the probe's Z offset by using PROBE_CALIBRATE
pin: PF5
x_offset: 0
y_offset: 0
#z_offset: 0
#z_offset: -0.498          # Attempt 1
#z_offset: -0.485          # Attempt 2 (tested w/ printer paper: 0.1mm)
#z_offset: -0.464          # Attempt 3 (voron-tap accuracy Macro @ 50C bed & 100 samples)
#z_offset = -0.300         # Attempt 4 (tested w/ printer paper: 0.1mm @ 60C bed)
#z_offset = -0.474         # Attempt 5 (tested w/ printer paper: 0.1mm @ 39.6C bed and 31.6C nozzle)
#z_offset = -0.625         # Attempt 6 (smooth sheet; tested w/ printer paper: 0.1mm @ 63.5C bed and 42.4C nozzle)
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3
## Tap's activate_gcode:
##   This G-code will allow you to probe cold, but will also prevent you from probing 
##   with a nozzle at printing temperature (to try to preserve your build surface). 
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}
    

#####################################################################
# 	Fan Control
#####################################################################

[fan]
##	Print Cooling Fan - CNC_FAN0
pin: PE6
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
##	Hotend Fan - CNC_FAN1
pin: PE0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[heater_fan controller_fan]
##	Controller fan - CNC_FAN2
pin: PC12
max_power: 1.0
fan_speed: 0.3
shutdown_speed: 1.0
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

# TODO: Configure the exhaust fan and evermore fan
# TODO: Exhaust fan still needs to connected
#[heater_fan exhaust_fan]
##	Exhaust fan - CNC_FAN3
#pin: PE5
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

# TODO: Configure. Connected to fan4 
#[heater_fan evermore_filter_fan4]
## Evermore Filter Micro fan
#pin: PE4
#tachometer_pin: PC13


#####################################################################
# 	LED Control
#####################################################################

# TODO: Install LED bars and configure LEDs. These will be neopixel types
#[output_pin caselight]
# Chamber Lighting - HE1 Connector (Optional)
#pin: PB5
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

# see "sb_leds.cfg" for the StealthBurner toolhead LED configuration and macros

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 7200 # 2 hrs; Was 1800
gcode:
    {% if "xyz" in printer.toolhead.homed_axes %}
        G91                                                                                                 ; relative positioning
        G1 Z5 F18000.0                                                                                      ; move up 5mm
        G90                                                                                                 ; absolute positioning
        G1 X{printer.toolhead.axis_maximum.x} Y{printer.toolhead.axis_maximum.y} F18000.0                   ; park nozzle at rear
    {% endif %}
    OFF                                                                                                     ; turn everything off                                                                                     ; set logo back to white

[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Voron-Tap, set to center of the bed.
#home_xy_position:175,15    # print recovery z-axis homing
home_xy_position:175,175
speed:100
z_hop:10

# TODO: Do we need this
#[homing_override]
#axes: xy
#set_position_x: 
#set_position_y: 
#set_position_z: 

[quad_gantry_level]
##	Gantry Corners for 350mm Build
gantry_corners:
	-50,0
	400,420
points:
  10,5
  10,335
  340,335
  340,5
#-----
# 50,25
# 50,275
# 300,275
# 300,25
speed: 500
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

[bed_mesh]
speed: 500
mesh_min: 10,5
mesh_max: 340,335
#mesh_min: 25,25
#mesh_max: 335,335
horizontal_move_z: 5
probe_count: 7,7
#relative_reference_index: 24   # RRI center point formula: [(7x7)-1] / 2 = 24
zero_reference_position: 175,175
algorithm: bicubic

# NOTE: For non-QGL (e.g. Voron Trident)
# [z_tilt]
# z_positions:
#   -50,0
#   -50,420
#   400,420
#   400,0
# points:
#   10,5
#   10,335
#   340,335
#   340,5
# speed: 500
# horizontal_move_z: 5
# retries: 5
# retry_tolerance: 0.0075

########################################
# MCU pin headers for external displays
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE9, EXP1_2=PE10,
    EXP1_3=PE11, EXP1_4=PE12,
    EXP1_5=PE13, EXP1_6=PE14,    # Slot in the socket on this side
    EXP1_7=PE15, EXP1_8=PB10,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14, EXP2_2=PB13,
    EXP2_3=PF7, EXP2_4=PB12,
    EXP2_5=PE7, EXP2_6=PB11,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

# See the sample-lcd.cfg file for definitions of common LCD displays.

#####################################################################
# 	Displays
#####################################################################
[display]
#	mini12864 LCD Display
display_group: __voron_display
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[neopixel btt_mini12864]
#	To control Neopixel RGB in mini12864 display
pin: EXP1_6
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

[output_pin beeper]
pin: EXP1_1
value: 0
shutdown_value: 0
pwm: True
cycle_time: 0.0005 ; Default beeper tone in kHz. 1 / 0.0005 = 2000Hz (2kHz)
#--------------------------------------------------------------------

#####################################################################
# 	Optional Settings (See 'mainsail.cfg' for addtional settings)
#####################################################################
[exclude_object]
[respond]

[fan_generic uv_led_bar]
pin: PC13
max_power: 1.0
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
enable_pin: PE4
#   See the "fan" section for a description of the above parameters.
#heater: extruder
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
#heater_temp: 50.0
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
#fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0

